extends layout

block content
  h1= title
  - let bicyclesid = toShow._id
  - let brand = toShow.brand
  - let type = toShow.type
  - let price = toShow.price

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{bicyclesid}

  - let actionid = "/resource/bicycles/" + bicyclesid

  form(id='bicyclesForm', action=actionid, method="PUT")
    div.form-group
      label.bicyclesAttr(for='brand') brand
      input#brand(type='text', name='brand', value=brand)
    div.form-group
      label.bicyclesAttr(for='type') type
      input#type(type='number', name='type', value=type)
    div.form-group
      label.bicyclesAttr(for='price') price
      input#price(type='text', name='price', value=price)
    input(type="submit")

  script.
    document.forms['bicyclesForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error)
      });
    });